################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/xll_allocation/v16
/My Advisor Results - xll_allocation
/x64
/.vs
